<h2 class="topLimit"></h2>
<h4 style="text-align: center;">Tabela de Personas</h4>
<div>
  <span>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Bia" #input>
    </mat-form-field>
  </span>
  <span>
    <!-- <a routerLink="/event-form-modal">
      <span>{{new_event}}</span>
    </a>&nbsp; -->
    <button (click)="newEvent()" mat-flat-button color="primary">Nova Persona</button>
  </span>
  
</div>

<div class="filter-tab">
  <!-- <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>Filter {{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <option value="">-- Select {{filter.name}} --</option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div> -->

  <!-- <div class="mat-elevation-z8"> below clas comes previous table format-->
  <div class="table-responsive cnstr-record product-tbl">
    <table style="background-color: #b1b1b1;" mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th hidden class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td hidden class="col-center" mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="del">
        <th class="col-center-icon" mat-header-cell *matHeaderCellDef mat-sort-header>Del</th>
        <td class="col-center-icon" mat-cell *matCellDef="let row">
          <fa-icon [icon]="faTrash" [ngClass]="{'orange': 5 > 4}" (click)="delete(row)">
          </fa-icon></td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th class="col-center-icon" mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
        <td class="col-center-icon" mat-cell *matCellDef="let row">
          <fa-icon [icon]="faEdit" [ngClass]="{'blue': true}" (click)="getPersonas()">
          </fa-icon></td>
      </ng-container>

      

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td class="col-center" style="cursor: pointer"
            (click)="eventClicked(row)"
            mat-cell *matCellDef="let row">
            <a routerLink="/persona-form-detail/{{row.id}}">{{row.name}}</a>
        </td>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <span *ngIf="0==0">
          <th class="col-center" style="display: none;" mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
          <td class="col-center" style="display: none;" mat-cell *matCellDef="let row"> {{row.mobile}} </td>
        </span>

      </ng-container>

      <!-- WhatsApp Column -->
      <ng-container matColumnDef="whatsapp">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> WhatsApp </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.whatsapp}} </td>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="telephone">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.telephone}} </td>
      </ng-container>

      <!-- e-mail Column -->
      <ng-container matColumnDef="email">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> e-mail </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- Street Column -->
      <ng-container matColumnDef="street">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.street}} </td>
      </ng-container>

      <!-- Complement Column -->
      <ng-container matColumnDef="complement">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Complemento </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.complement}} </td>
      </ng-container>

      <!-- Posta Code Column -->
      <ng-container matColumnDef="postalcode">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> CEP </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.postalcode}} </td>
      </ng-container>

      <!-- DOB Column -->
      <ng-container matColumnDef="dob">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Nascimento </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.dob | date: 'd/M/yy'}} </td>
      </ng-container>

      <!-- Register Date Column -->
      <ng-container matColumnDef="registerdate">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Data registro </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.registerdate | date: 'd/M/yy'}} </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Comentários </th>
        <td class="col-center" mat-cell *matCellDef="let row"> {{row.comment}} </td>
      </ng-container>

      <!-- Color Column -->
      <!-- <ng-container matColumnDef="persona">
        <th class="col-center" mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td class="col-center" mat-cell *matCellDef="let row" [style.color]="row.persona">
          <span *ngFor='let per of personas'>
            <span *ngIf='per.id === row.persona'>
              {{per.name}}
            </span>
          </span>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator style="display: grid;background-color: #c0c0c0;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>