<!--index.html-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="gastroenterologia, endoscopia, colonoscopia, ecoendoscopia, CPRE, manometria, bravo,pHmetria, impedâncio-pHmetria, fortaleza, ceará, miguel a n souza">
	<title>Digest</title>

	<style></style>
	<style></style>
    <style></style>
    <style></style>
</head>
<body id="myPage">

    <!-- curtir apenas -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v11.0" nonce="FOkzxjmO"></script>
    <!-- curtir e compartilhar -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v11.0" nonce="3ed4F7Hd"></script>
	
    <!-- <h1 class="center">Digest</h1> -->
	
    <!-- Sidebar on click -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
            <i class="fa fa-remove"></i>
        </a>
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
        <a href="#" class="w3-bar-item w3-button">Link 4</a>
        <a href="#" class="w3-bar-item w3-button">Link 5</a>
    </nav>
    
    <!-- Navbar / w3-top blocked the page to a fixed size, and h1 and p above do not appear-->
    <div class="w3-top" style="padding-top: 20px;padding-right: 80px;">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" (click)="openNav()"><i class="fa fa-bars"></i></a>            <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right" style="padding-left: 10px;"></i></a>
            <a href="team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Equipe</a>
            <a href="products" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Serviços</a>
            <span  onclick="document.getElementById('insuranceModal').style.display='block'"><a class="w3-bar-item w3-button w3-hide-small w3-hover-white">Convênios</a></span>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contato</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <div class="w3-button" title="Notifications">Saiba Mais <i class="fa fa-caret-down"></i></div>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <span id="photoCap"><a href="capture" class="w3-bar-item w3-button">Foto</a></span>
                    <a href="#" class="w3-bar-item w3-button">Videos Educativos</a>
                    <a href="themes" class="w3-bar-item w3-button">Temas</a>
                    <a href="auth" class="w3-bar-item w3-button">Login</a>
                </div>
            </div>
            <span class="w3-bar-item"><i class="fa fa-phone w3-text-teal w3-large"></i> 85 3252-5469</span>
            <a href="https://www.google.com.br/search?q=digest%2Bcom.br" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search" target="_blank"><i class="fa fa-search" style="padding-right: 40px;"></i></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
            <a href="team" class="w3-bar-item w3-button">Equipe</a>
            <a href="products" class="w3-bar-item w3-button">Serviços</a>
            <a href="insurance" class="w3-bar-item w3-button">Convênios</a>
            <a href="#contact" class="w3-bar-item w3-button">Contato</a>
        </div>
    </div>

	<!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
        
        <img src="/assets/images/gcanyon1.jpg" alt="Digest" style="width:100%;min-height:250px;max-height:600px;">

        <div class="w3-container w3-display-topright w3-display-bottomleft w3-margin-bottom">    
            <h1 style="font-size:4vw;padding-top: 40px;"><b>Digest</b></h1>
            <p style="font-size:2vw">"Diagnóstico, tratamento & prevenção"</p>

            <div class="fb-like" data-href="http://www.digest.com.br" data-width="" data-layout="button" data-action="like" data-size="small" data-share="false"></div>
            <!-- <div class="fb-like" data-href="http://www.digest.com.br" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> -->
        </div>

        <div class="w3-container w3-display-bottomright w3-margin-bottom">
            <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-large w3-theme w3-hover-teal" title="Contato">Deseja atendimento?</button> -->
            <button class="w3-button w3-large w3-theme w3-hover-teal" title="Contato"><a href="#contact">Deseja atendimento?</a></button>
        </div>

    </div>

    <div id="insuranceModal" class="w3-modal" onclick="document.getElementById('insuranceModal').style.display='none'">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-teal w3-display-container">
                <span onclick="document.getElementById('insuranceModal').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
                <h4>Olá! Seja bem vindo..</h4>
                <h5>Espero que encontre o que precisa <i class="fa fa-smile-o"></i></h5>
            </header>

            
 <!-- From Coopend Site, whitch, itself, was built with 'Visual Composer - drag and drop page builder for WordPress'-->
<div class="wf-td hgroup">
    <h1 class="h2-size">Convênios</h1>
</div>
<div class="wf-td">
    <div class="assistive-text"> Clique em qualquer lugar para fechar esta janela </div>
</div>
		
	
<div id="main" class="sidebar-none"  >
<div class="main-gradient"></div>
	<div class="wf-wrap">
		<div class="wf-container-main">
			<div id="content" class="content" role="main">
                <div class="vc_row wpb_row vc_row-fluid dt-default" style="margin-top: 0px;margin-bottom: 0px">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="standard-arrow list-divider bullet-top">
                    <hr>
                                    <ul>
                                        <li>AMIL ASSISTENCIA MEDICA INTERNACIONAL LTDA</li>
                                        <li>ASSEFAZ</li>
                                        <li>BANCO CENTRAL</li>
                                        <li>BASE AEREA DE FORTALEZA</li>
                                        <li>BRADESCO</li>
                                        <li>BRADESCO PROCTOLOGIA</li>
                                        <li>CAFAZ</li>
                                        <li>CAIXA ASSIST EMPREG EMPR BRASIL PESQ AGROP</li>
                                        <li>POSTAL SAUDE</li>
                                        <li>CAMED</li>
                                        <li>CAPSESP</li>
                                        <li>CASSI</li>
                                        <li>EMBRATEL</li>
                                        </ul>
                    </div></div></div></div>
                    <hr>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="standard-arrow list-divider bullet-top">
                                    <ul>
                                        <li>FACHESF</li>
                                        <li>FAMED</li>
                                        <li>FUNCEF (SAUDE CAIXA)</li>
                                        <li>FUSEX</li>
                                        <li>FUSMA</li>
                                        <li>GEAP</li>
                                        <li>HOSPITAL INFANTIL ALBERT SABIN</li>
                                        <li>IPM</li>
                                        <li>ISSEC</li>
                                        <li>ISSEC INTERIOR</li>
                                        <li>JESUÍTAS DO BRASIL</li>
                                        </ul>
                    </div></div></div></div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="standard-arrow list-divider bullet-top">
                                    <ul>
                                        <li>LIV SAÚDE</li>
                                        <li>LIFE EMPRESARIAL</li>
                                        <li>MEDISERVICE</li>
                                        <li>MERCEEIROS</li>
                                        <li>NORCLINICAS (INTERMEDICA)</li>
                                        <li>NOTRE DAME SEGURADORA SA (INTERMEDICA)</li>
                                        <li>PAS</li>
                                        <li>PAS INTERIOR</li>
                                        <li>PETROBRAS PETRÓLEO AMS</li>
                                        <li>PETROBRAS DISFOR</li>
                                        <li>PLAN ASSISTE</li>
                                        <li>PROASA</li>
                                        <li>REDE MAIS SAÚDE E VIDA</li>
                                        <li>SUL AMERICA SERVICOS DE SAUDE SA</li>
                                        <li>UNIMED (TODOS PLANOS)</li>
                                        <li>VAI BEM</li>
                                        <li>VITALLIS</li>
                                    </ul>
                    </div></div></div></div>
</div></div></div></div></div>
<!-- End of from Coopend -->


            <footer class="w3-container w3-teal">
                <p>Modal footer</p>
            </footer>
        </div>
    </div>

                            <!-- Work Row -->

                            <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
                                
                                <div class="w3-quarter">
                                    <h5>Nossa Missão:</h5>
                                    <p style="font-size: 0.85em;">Prestar serviços em saúde centrados no paciente e sua família, com alta qualidade técnica e respeitando os princípios da bioética.</p>
                                    <br>
                                    <h5>Localização:</h5>
                                    <div><iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.358882826357!2 d-38.51637775053424!3d-3.731715944218886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c748599ea2ae71%3A0x1a3cef816d7fe704!2sR.%20Ant%C3%B4nio%20Augusto%2C%201270%20-%20Meireles%2C%20Fortaleza%20-%20CE%2C%2060110-370!5e0!3m2!1spt-BR!2sbr!4v1569816622096!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; max-width:100%;" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                        <img src="/assets/images/LosAngeles.jpg" alt="Snow" style="width:100%">
                                            <div class="w3-container">
                                                <h4><b>Endoscopia & Colonoscopia</b></h4>
                                                <!-- <h4>Diagnóstico</h4> -->
                                                <p>Realizamos <b>consultas</b> e diversos diagnóticos por <b>endoscopia</b> (esofagite, úlcera, gastrite, tumores, etc) bem como promovemos a prevenção de doenças como câncer gástrico ou de intestino (<b>colonoscopia</b>).</p>
                                            </div>
                                            </div>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                        <img src="/assets/images/manometria.jpg" alt="Lights" style="width:100%">
                                            <div class="w3-container">
                                                <h4><b>Testes Funcionais</b></h4>
                                                <!-- <h4>Trade</h4> -->
                                                <p>Estudos da função do esôfago (manometria de alta resolução) e monitorização do refluxo, com ou <b>sem sonda</b> (pHmetria, impedâncio-pHmetria, Bravo).</p>
                                                
                                            </div>
                                            </div>
                                </div>
                                
                                <div class="w3-quarter">
                                    <div class="w3-card w3-white">
                                        <img src="/assets/images/colangioCA_autoex2x.png" alt="Mountains" style="width:100%">
                                            <div class="w3-container">
                                                <h4><b>Endoscopia Avançada</b></h4>
                                                <!-- <h4>Trade</h4> -->
                                                <p>Realizamos procedimentos endoscópicos complexos: CPRE, ecoendoscopia, ablação, dilatações, etc.</p>
                                                
                                            </div>
                                            </div>
                                </div>
                                
                            </div>
           

                            <!-- Container / Plus sign in the green circle-->
           
                            <div class="w3-container" style="position:relative">
                                <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
                                    style="position:absolute;top:-28px;right:24px">+</a>
                            </div>
                 
 
                           
                            <!-- Contact Container -->
                            <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
                                <div class="w3-row">
                                    <div class="w3-col m5">
                                        <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Entre em contato</span></div>
                                        <p>Ligue, passe um e-mail ou mensagem</p>
                                        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> Rua Antônio Augusto 1270, Fortaleza</p>
                                        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i> 85 3252-5469, 3224-1547</p>
                                        <p><i class="fa fa-smile-o w3-text-teal w3-xlarge" title="WhatsApp"></i> 85 99628-8800</p>
                                        <p><i class="fa fa-instagram w3-text-teal w3-xlarge" title="Instagram"></i> @digestoficial</p>
                                        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i> contato@digest.com.br</p>
                                        &nbsp;
                                        <p>
                                        <a class="w3-button w3-large w3-teal" href="https://wa.me/+5585996288800/?text=Olá! Gentileza entrar em contato" title="WhatsApp" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp"></i></a>
                                        Clique para WhatsApp
                                        </p>
                                    </div>
                                    <div class="w3-col m7">

                                        <form id="emailForm" class="w3-container w3-card-4 w3-padding-16 w3-white" [formGroup]="emailForm" (ngSubmit)="emailSendServer()" target="_blank">
                                            <div class="w3-section">
                                                <label>Nome</label>
                                                <input id="ename" class="w3-input" type="text" formControlName="name" required>
                                                    </div>
                                            <div class="w3-section">
                                                <label>Telefone</label>
                                                <input class="w3-input" type="text" formControlName="mobile" required>
                                                    </div>
                                            <div class="w3-section">
                                                <label>Email</label>
                                                <input class="w3-input" type="email" formControlName="email" required>
                                                    </div>
                                            <div class="w3-section">
                                                <label>Mensagem</label>
                                                <input id="ebody" class="w3-input" type="text" formControlName="body" required>
                                                    </div>
                                            <input class="w3-check" type="checkbox" checked name="like">
                                                <label>Curtir!</label>
                                                <button type="submit" class="w3-button w3-right w3-theme">Enviar</button>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            

                                <!-- Footer -->
                                <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
                                        
                                    
                                            <label>Compartilhe:</label>&nbsp;
                                            <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/sharer/sharer.php?u=http://www.digest.com.br/static/catalog/z-ph.png&&amp;redirect_uri=https%3A%2F%2Fwww.facebook.com%2F" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                            &nbsp;
                                            <a class="w3-button w3-large w3-teal" href="https://twitter.com/intent/tweet?url=http://www.digest.com.br/&amp;text=Estou+na+Digest:+Clínica de Gastroenterologia e Endoscopia &amp;hashtags=digestoficial" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            
                                            <label>Veja também:</label>&nbsp;
                                            <!-- <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a> -->
                                            <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/digestoficial" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                                            <a class="w3-button w3-large w3-cyan" href="https://twitter.com/intent/tweet?url=http://www.digest.com.br/&amp;text=Estou+na+Digest:+Clínica de Gastroenterologia e Endoscopia &amp;hashtags=digestoficial" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                            <a class="w3-button w3-large w3-pink" href="https://www.instagram.com/digestoficial" target="_blank" rel="noopener" title="Instagram"><i class="fa fa-instagram"></i></a>
                                            <!-- <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a> -->
                                    
                                        &nbsp;
                                        <p style="padding-top: 20px;font-size: 0.7em;">Criado por <a href="http://www.digest.com.br" target="_blank">digest.com.br</a></p>
                                    
                                    <div style="position:relative;bottom:0px;z-index:1;" class="w3-tooltip w3-right">
                                        <span class="w3-text w3-padding w3-teal w3-hide-small">Acima</span>
                                        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
                                            <i class="fa fa-chevron-circle-up"></i></span></a>
                                    </div>
                                </footer>

</body>
</html>