
 * {
    box-sizing: border-box;
  }

/* .container {
    display: grid;
    grid-template-columns: 5px 0.5fr 1fr 1fr 1fr 5px;
    grid-gap: 15px;
} */

.picfloat {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .picfloat {
      width: 100%;
    }
  }

.articlefloat {
    float: left;
    padding: 15px;
    overflow: auto;
}

.topnav {
    /* grid-column: 2/6;
    grid-row: 1; */
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

/* hides menu and display bars when screen is narrow */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

/* Could not see any role */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}

footer {
    padding: 10px;
    background-color: rgb(207,232,220);
    /*   border: 2px solid rgb(79,185,227);
    border-radius: 5px;  */
}

footer {
    /* grid-column: 2 / 6;
    grid-row: 5; */
    text-align: center;
    font-size: 0.8em;
}

/* Could not see any role */
aside {
    border-right: 1px solid #999;
    padding-right: 15px;
    padding-left: 0px;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    /*min-width: 110px;
    background-image: url("logo_circle.png");*/
}

header {
    /* grid-column: 2/6;
    grid-row: 2;
    padding-right: 10px; */
    /*   border-radius: 5px;
    border: 2px solid rgb(79,185,227);  */
    font: 5em/3.9 Arial, Helvetica, sans-serif;/*3.9 adjusts the height*/
    background-image: url("/assets/images/gcanyon1.jpg");
    background-repeat: no-repeat;
}

.htxt {
    color: rgb(207,232,220);
    text-align: right;
}

header:hover {
    font-style: italic;
}

.htxt:hover {
    color: rgb(49,81,108);
}

h2:hover {
    background-color: gold;
}

/* Needed?? */
ul {
    padding-left: 15px;
}

ul.article {
    margin-left: 30px;
}

/* #pic1 {
    grid-column: 3;
    grid-row: 3;
}

#pic2 {
    grid-column: 4;
    grid-row: 3;
}

#pic3 {
    grid-column: 5;
    grid-row: 3;
}

#txt1 {
    grid-column: 3;
    grid-row: 4;
}

#txt2 {
    grid-column: 4;
    grid-row: 4;
}

#txt3 {
    grid-column: 5;
    grid-row: 4;
} */

/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    font: 12px/14px sans-serif;
    color: rgb(109,110,106);
    text-align: justify;
    width: 98%;
    height: 150px;
    overflow: scroll;
}
