/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*  */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
}

button {
    color: #444444;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 0.8em;
}

button:disabled {
	/* color: #9c9c9c; */
	/* color: rgb(52, 188, 241); */
	/* background-color: #440000; */
	background-color: rgb(240, 94, 84);
    cursor: not-allowed;
}

button:enabled {
    color: #444444;
	font-size: 9pt;
    background-color: #84b170;
    cursor: pointer;
}

input, textarea {
    width: 100%;
    font-size: 0.8em;
    margin: 8px 0px;
    padding: 10px;
}
